html {
  font-family: sans-serif;
  line-height: 1.5em;
}

body {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}

h1,
h2,
noscript,
p,
ol li {
  margin-bottom: 2rem;
}

.error {
  color: red;
}

#iterations-input {
  width: 5rem;
}
